@model SMM_ThomasMore.Domain.Element
@{
    Layout = null;
}

@using (Html.BeginForm("NewGrafiekByName", "UIDashboard"))
{
    <form>
        @Html.TextBoxFor(m => m.naam)
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
}