@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeelplatformenBeherenPage</title>
</head>
<body>
    @*Users*@
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Deelplatformen</h2>
                    <ul class="nav navbar-right panel_toolbox">



                        <li>
                            <a class="collapse-link" style="margin-left:50px"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Naam</th>                         
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int countDeelplatform = 0;
                                foreach (var item in Model)
                                {
                                    countDeelplatform++;
                                    <tr>
                                        <th>@countDeelplatform</th>
                                        <td>@item.naam</td>
                                
                                        <td><a href="@Url.Action("EditDeelplatform", "UIUser", new { deelplatformid = item.id })">Edit</a></td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                    <div style="float:right">

                        <!--    <a href="@Url.Action("", "UIUser")"><button class="btn btn-default">Deelplatform toevogen</button></a> -->
                    </div>

                </div>
            </div>
        </div>
    </div>





</body>
</html>
