@model SMM_ThomasMore.Domain.Deelplatform
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New User</title>
</head>
<body>
    @using (Html.BeginForm("UpdateDeelplatformNaam", "UIUser"))
    {
        <form>
            <table>
                <tr>
                    <td>Naam:  </td>
                    <td>@Html.EditorFor(model => model.naam, new { htmlAttributes = new { placeholder = "username", @class = "form-control" } })</td>
                </tr>

            </table>
            <input type="submit" value="Save Deelplatformnaam" class="btn btn-info">
        </form>
    }

 
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Admin #</th>                       
                        <th>Username</th>
                        <th>Dashboard voor het deelplatform</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int countAdmins = 0;

                        for(int i = 0;i<Model.dashboards.Count;i++) {
                            if (Model.dashboards.ToList()[i].user.type == SMM_ThomasMore.Domain.UserType.ADMIN)
                            {
                                countAdmins++;
                     <tr>
                        <th>@countAdmins</th>
                          
                             @{
                                 SMM_ThomasMore.Models.DashboardAdminVM davm = new SMM_ThomasMore.Models.DashboardAdminVM() {
                                     usernameAdmin = Model.dashboards.ToList()[i].user.username,
                                     dashboardid = Model.dashboards.ToList()[i].id,
                                     adminDashboard = Model.dashboards.ToList()[i].adminDashboard
                                 };
                             }
                        
                                @{ Html.RenderPartial("ChangeDashboard", davm); }
                    </tr>
                            }                            
                        }
                      }
                </tbody>

            </table>            
        </form>   
</body>
</html>
