@model SMM_ThomasMore.Models.UserVM
@{
    ViewBag.Title = "UserBeherenPage";
}

<h2>UserBeherenPage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <button><a href="@Url.Action("ExportUsers", "UIUser")">Exporteer alle gebruikers</button>


}
