@model SMM_ThomasMore.Models.UserVM
@{
    ViewBag.Title = "Verified";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p> Bedankt voor het registreren ! :<h2>@Html.DisplayFor(m=>m.username)</h2></p>

}

