

.sidenav {
    height: 100%;
    min-width:250px;
    width:auto;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 60px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left:300px;  
    padding: 0px 10px;
}
.sidenav ul {
list-style-type: none
}
.search-container {
 margin-left:10%;
}
#aanAfmelden {
   float:right;
}
.navMenuGroep {
    margin-top: 10%;    
}
.navMenuGroep li a{
   font-size:medium;
}

