@model SMM_ThomasMore.Domain.Thema
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewThema</title>
</head>
<body>
@using (Html.BeginForm("CreateThema", "UIElement"))
{
    <form>
        <table>
            <tr>
                <td>Naam:  </td>
                <td>@Html.EditorFor(model => model.naam, new { htmlAttributes = new { placeholder = "Naam", @class = "form-control" } })</td>
            </tr>
            <tr>
                <td>Keywords</td>
            </tr>
            @if (Model != null)
            {
                foreach (var keyword in Model.keywords)
                {
                <tr>
                    <td>@Html.EditorFor(k => keyword.woord)</td>
                </tr>
                }
            }

        </table>
        
        <input type="submit" value="Save Thema" class="btn btn-info">
    </form>
    }
</body>
</html>
