@model SMM_ThomasMore.Domain.Thema
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewThema</title>
</head>
<body>



    @using (Html.BeginForm("CreateThema", "UIElement"))
    {
    <div class="x_panel">
        <div class="x_title">
            <h2>Thema</h2>
            <ul class="nav navbar-right panel_toolbox">



                <li>
                    <a class="collapse-link" style="margin-left:50px"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- start form for validation -->
            <form id="demo-form" data-parsley-validate>
                <label for="fullname">Naam * :</label>
                @Html.EditorFor(model => model.naam, new { htmlAttributes = new { placeholder = "Naam", @class = "form-control" } })
                <br />


                <label for="email">Keywords * :</label>
                <table>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.keywords.Count; i++)
                        {
                        <tr>
                            <td style="word-wrap:break-word;max-width:250px">@Html.EditorFor(m => Model.keywords[i].woord, new { htmlAttributes = new { placeholder = "Keyword", @class = "form-control" } })</td>
                            <td><a href="@Url.Action("DeleteKeyword", "UIElement", new { keyword_id = Model.keywords[i].id, element_id = Model.element_id })">Delete</a></td>
                        </tr>
                        }
                    }
                </table>


                <br />
                <a href="@Url.Action("CreateKeyword", "UIElement", new { element_id = Model.element_id })">Create Keyword</a>
                <input type="submit" value="Save Thema" class="btn btn-primary">

            </form>
            <!-- end form for validations -->

        </div>
    </div>
    }
</body>
</html>
