
@{
    ViewBag.Title = "Aanmelden";
}

<h2>Aanmelden</h2>

<ul class="list-unstyled">
    <li>
        <input type="text" placeholder="Gebruikersnaam"/> 
    </li>
    <li>
        <input type="password" placeholder="Wachtwoord"/>
    </li>
    <li>
        <button>Login</button>
    </li>
    <li>
        <button>Login met Facebook</button>
    </li>
    <li>
        <button>Login met Google+</button>
    </li>
</ul>






