
@model SMM_ThomasMore.Domain.User
@{
    Layout = null;
}

 <!-- menu profile quick info -->
<div class="profile clearfix">
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>@Html.DisplayFor(m => m.username)</h2>
    </div>
</div>
